.count {
  font-size: 20px;
}

.increment-button {
  padding: 10px 50px;
  background-color: #a79c9c;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.increment-button:hover {
  background-color: #cabdbd;
}
