
body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ebe8e1;
  font-family: verdana;
  text-align: center;
}

body div {
  position: absolute;
  display: inline-block;
  transform: translate(-50%, -50%);
  top: 50%;
  border: solid 1px black;
  padding: 20px;
}
